div>h1{
    font-weight: bolder;
    font-size: 100px;
    color: rgb(187, 97, 97);
    text-align: center;
    margin-top: 200px;
}
div{
    background-image:url(background.jpg") ;
    height: 800px;
    width: 50%;
    display: inline-block;
    border: 1px solid brown;
    text-align: left;
    
    
}
#div2{
    background-image: none;
    width: 45%;
    float: right;
}
#submit{
    background-color: blue;
    size: 50%;
}

